:root {
  --primary-color: #3f8cb5;
  --secondary-color: #007bff;
  --hover-color: #4CAF50;
  --hover-bg-color: #45a049;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

nav {
  background-color: var(--primary-color);
  padding: 15px; 
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

h2 {
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

body {
  padding-top: 60px; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.form-container {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
  width: 800px; 
  margin: 20px auto;
}

form {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

form input[type="text"],
form input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: none; 
  border-radius: 5px; 
}

form button {
  padding: 10px;
  font-size: 16px;
  background-color: var(--hover-color); 
  color: white;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

form button:hover {
  background-color: var(--hover-bg-color); 
}

.listar-vagas-container {
  background-color: var(--secondary-color); 
  color: white; 
  padding: 20px; 
  border-radius: 8px; 
  margin: 20px; 
  box-shadow: 0 4px 8px var(--shadow-color); 
  width: 100%;
  height: 400px;
}

.listar-vagas-container h2 {
  margin-bottom: 20px; 
  text-align: center; 
}

.tabela-vagas {
  width: 100%; 
  border-collapse: collapse; 
  margin-top: 20px; 
}

.tabela-vagas th,
.tabela-vagas td {
  border: 1px solid #fff; 
  padding: 10px; 
  text-align: center;
  color: black;
  background-color: #ffffff;
}

.tabela-vagas tr:nth-child(even) {
  background-color: #f2f2f2; 
}

.tabela-vagas th {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .form-container {
    width: 90%;
  }
}
